.root {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: 0.3s;

  & svg {
    position: absolute;
    left: -24px;
    z-index: -1;
  }

  &:hover {
    opacity: 0.6;
  }
}
