.item {
  position: absolute;
  width: 116px;
  height: 102px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  &::after {
    content: '';
    position: absolute;
    top: -15px;
    width: 75px;
    height: 75px;
    background-size: contain;
    z-index: 1;
    mask-image: linear-gradient(black, black, transparent);
    -webkit-mask-image: linear-gradient(black, black, transparent);
    filter: brightness(0);
  }

  &::before {
    content: '';
    position: absolute;
    width: 53px;
    height: 53px;
    margin-left: 1px;
    margin-top: -3px;
    background: #010302;
    transform: rotate(45deg);
    transition: 0.3s;
    z-index: -1;
  }

  b {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: #fff;
  }

  img {
    width: 100%;
    height: 100%;
  }

  &:hover {
    &::before {
      opacity: 0.75;    
    }
  }

  @media (max-width: 640px) {
    &::before {
      width: 32px;
      height: 32px;
    }
    b {
      font-size: 18px;
    }
    img {
        width: 60%;
        height: 60%;
    }
  }
}

.item_1 {
  &::after {
    background-image: url(/game/enemy/enemy-1-default.webp);
  }
}
.item_2 {
  &::after {
    background-image: url(/game/enemy/enemy-2-default.webp);
  }
}
.item_3 {
  &::after {
    top: -35px;
    width: 90px;
    height: 90px;
    background-image: url(/game/enemy/enemy-3-default.webp);
  }
}
.item_4 {
  &::after {
    background-image: url(/game/enemy/enemy-2-default.webp);
  }
}

.item_101 {
  b {
    display: none;
  }
  &::after {
    background-image: url(/map/tavern.png);
    top: -10px;
  }
}

.passed {
  &::before {
    background: #2f80ed;
  }
  &::after {
    filter: brightness(1);
  }
}

.current {
  &::before {
    background: #ffa500;
  }
}