.game-canvas {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.game-canvas__loading {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-canvas__loading span {
  font-size: 32px;
}

.game-effects-cards {
  position: relative;
}

.game-effects-cards-item {
  position: absolute;
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
  pointer-events: none;
}

.game-effects-cards-item_hover {
  /* background: url('/game/card-hover.png') no-repeat 0 0;
  background-size: 100% 100%; */
  opacity: 1;
}

.game-effects-cards-item_matched {
  background-image: url('/game/card-light.png');
  background-repeat: no-repeat;
  background-size: 2400% 100%;
  /* background-size: auto 100%; */
  animation: effects-cards 1s steps(21) forwards;
}

.game-training-cards {
  position: relative;
}

.game-training-cards-info {
  width: 720px;
  position: absolute;
  top: -80px;
  left: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 2;

  @media (max-width: 1024px) {
    width: 460px;
    top: -90px;
    font-size: 14px;
    padding: 8px;
    border-radius: 6px;
  }

  @media (max-width: 768px) {
    width: 355px;
    top: -75px;
    left: -5px;
    font-size: 12px;
    padding: 5px;
    border-radius: 4px;
  }
}

.game-training-cards-item {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: 0.3s;
}

.game-training-cards-item_info {
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  pointer-events: none;
}


@keyframes effects-cards {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100%;
  }
}
