.main-page {
  & .main-page__bg-before {
    object-fit: cover;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -3;
  }

  & .main-page__bg-after {
    object-fit: cover;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .main-page__menu {
    position: absolute;
    top: 10%;
    right: 5%;

    @media (max-width: 768px) {
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      padding: 0 20px;
    }  
  }

  .main-page__info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .main-page__boy {
    position: absolute;
    left: 10%;
    bottom: 16%;
    width: auto;
    height: 22%;
    z-index: -2;
  }

  .main-page__bg-boy {
    height: 100%;
  }

  .main-page__bg-boy-light {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    animation: glow 2s infinite;
  }

  .main-page__bg-fire {
    position: absolute;
    right: -200%;
    bottom: 0;
    height: 100%;
  }
}

@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
