.main-page {
  & .main-page__bg {
    object-fit: cover;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .main-page__menu {
    position: absolute;
    top: 10%;
    right: 5%;

    @media (max-width: 768px) {
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      padding: 0 20px;
    }  
  }

  .main-page__info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
