.root {
  & .bg {
    object-fit: cover;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .menu {
    position: absolute;
    top: 10%;
    right: 5%;

    @media (max-width: 520px) {
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      padding: 0 20px;
    }  
  }

  .info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

.music {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 10;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
  margin-left: auto;
}
