.intro-page {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #000;
}

.intro-page + div {
  top: 20px;
  right: 5px;
}

.intro-page__actions {
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  gap: 10px;
  padding: 10px 55px 10px 20px;
  z-index: 3;

  button {
    width: 160px;
    height: 64px;
    min-width: 160px;
    min-height: 64px;

    span {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 6px;
    }

    @media (max-width: 768px) {
      width: 140px;
      height: 58px;
      min-width: 140px;
      min-height: 58px;
    }
  }
}

.intro-page__actions-btn {
  padding: 10px 20px;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  opacity: 0.75;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &:first-child {
    margin-right: auto;
  }

  @media (max-width: 768px) {
    padding: 10px 10px;
  }
}

.intro-page__actions-btn_disabled {
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    opacity: 0.5;
  } 
}

.intro-page__start {
  width: 100%;
  height: 100%;
}

.intro-page__start-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    color: #fff;
    font-family: Alegreya, Roboto, sans-serif;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
  }
}

.intro-page__slide {
  width: 100%;
  height: 100%;
}

.intro-page__slide-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  img {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 1;

    @media (max-width: 768px) {
      position: relative;
    }
  }
}

.intro-page__balloon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 110px;
  z-index: 2;

  .intro-page__balloon-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;

    span {
      font-family: Roboto, sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #010101;
      text-align: center;
    }

    &::before {
      content: '';
      position: absolute;
      top: -10px;
      right: calc(50% - 10px);
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid rgba(255, 255, 255, 0.8);
      z-index: -1;
    }
  }

  &:nth-child(2n) {
    .intro-page__balloon-wrap {
      &::before {
        right: auto;
        top: auto;
        left: calc(50% - 10px);
        bottom: -10px;
        border-bottom: none;
        border-top: 10px solid rgba(255, 255, 255, 0.8);
      }
    }
  }
}

.intro-page__info {
  position: relative;
  width: 100%;
  color: #fff;
  z-index: 3;
}

.intro-page__info-player {
  position: relative;
  width: 100%;
}

.intro-page__info-player-img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 200px;
  overflow: hidden;

  @media (max-width: 768px) {
    width: 150px;
  }
}

.intro-page__info-player-text {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  padding: 15px 20px 15px 200px;
  background: rgba(255, 255, 255, 0.8);
  color: #010101;

  p {
    margin: 0;
  }

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 22px;
    padding: 15px 20px 15px 150px;
  }
}

.intro-page__info-enemy {
  position: relative;
  width: 100%;
}

.intro-page__info-enemy-img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 120px;
  height: 120px;
  padding: 0;
  border-radius: 50% 50% 0 50%;
  border: 10px solid #000;
  background: #016da8;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  @media (max-width: 768px) {
    width: 100px;
    height: 100px;
  }
}

.intro-page__info-enemy-text {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  padding: 15px 140px 15px 120px;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: right;

  p {
    margin: 0;
    position: relative;
    z-index: 3;
  }

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 22px;
    padding: 15px 120px 15px 100px;
  }

  @media (max-width: 500px) {
    padding: 15px 120px 15px 20px;
  }
}